<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Remove Student</title>
    <style>
        th,td{
            border: solid 1px;
        }
    </style>
</head>
<body>
<h3>Remove Staff</h3>
<p><a href="/student">Back to Student list</a></p>

<div id="form">
    <form th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Age</label>
            <input type="date" th:field="*{dateOfBirth}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{phoneNumber}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{email}"/>
        </div>

        <div>
            <label>Classroom</label>
            <input type="text" th:field="*{classroom.nameC}"/>
        </div>

        <input type="submit" value="Remove"/>
    </form>
</div>

</body>
</html>